<footer class="editContent">
    <div class="container1">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid_section_w3layouts">
                <h2 class="logo-2 mb-lg-4 mb-3">
                    <a href="index.html" class="editContent">
                    </a>
                </h2>
                <ul class="w3layouts_social_list media-soc list-unstyled">
                    <li>
                        <a href="#" class="w3pvt_facebook editContent">
                            <span class="fa fa-facebook-f"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_twitter editContent">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_dribble editContent">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="w3pvt_google editContent">
                            <span class="fa fa-google-plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 footer-right">
                <div class="w3layouts-news-letter">
                    <form action="#" method="post" class="w3layouts-newsletter">
                        <input type="email" name="Email" class="editContent"
                               placeholder="Введите ваш Email..." required="">
                        <button class="btn1 btn"><span class="fa fa-paper-plane-o"
                                                       aria-hidden="true"></span></button>
                    </form>
                    <button onclick="topFunction()" id="myBtn" title="Перейти к началу">Вверх</button>
                </div>
{#                                <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">#}
{#                                    <div class="col-md-4 footer-grid_section_w3layouts">#}
{#                                        <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">#}
{#                                            Разделы</h3>#}
{#                                        <ul class="list-unstyled w3layouts-icons">#}
{#                                            <li>#}
{#                                                <a href="#" class="editContent">Главная</a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#" class="editContent">Категории</a>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <a href="#" class="editContent">Контакты</a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
            </div>
        </div>
    </div>
</footer>
